<main class="main-autenticacion-usuario">
    <h1>REGISTRO</h1>
    <form class="formulario-autenticacion-usuario">
        <input class="introducir" type="text" name="nombre" placeholder="Nombre">
        <input class="introducir" type="text" name="apellidos" placeholder="Apellidos">


        <input class="introducir" type="email" name="correo" placeholder="Email">
        <input class="introducir" type="password" name="password" placeholder="Contraseña">
        <input class="introducir" type="password" name="password" placeholder="Repita la contraseña">
        
        <input class="boton-autenticacion-usuario" type="button" value="Registrarse">
    </form>
    <p class="textos camuflarA" id="pregunta" (click)="redirigir()">¿Ya tienes una cuenta?</p>
    <p class="textos">Registrate usando Google</p>
</main>